<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../images/image1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Welcome to Collect & Away </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="home.html" class="btn btn-primary">Discover &nbsp;
                    <i class="fas fa-pizza-slice"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../images/image2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">View Our Menu</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="ajax.html" class="btn btn-primary" style="margin-top: 5px;">Discover &nbsp;
                    <i class="fas fa-pizza-slice"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../images/image3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Why Not Contact Us?</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's content.</p>
                <a href="validation.html" class="btn btn-primary">Discover &nbsp;
                    <i class="fas fa-pizza-slice"></i></a>
            </div>
        </div>
    </div>
</div>