<div class="sidebar-heading">
    <lottie-player class="lottie-sidebar" src="https://assets7.lottiefiles.com/temp/lf20_nXwOJj.json"
        background="transparent" speed="1" style="width: 190px; height: 190px;" loop autoplay></lottie-player>
</div>
<ul class="list-unstyled components">

    <li class="active">
        <a href="home.html">
            <span class="fa-stack" style="color: #043bbd;">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-envira fa-stack-1x fa-inverse"></i>
            </span>
            Home</a>
    </li>

    <li>
        <a href="ajax.html">
            <span class="fa-stack" style="color: #24a0ed;">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-utensils fa-stack-1x fa-inverse" style="color: white;"></i>
            </span>
            Our Menu</a>
    </li>

    <li>
        <a href="validation.html">
            <span class="fa-stack" style="color:#24a0ed">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope-open-text fa-stack-1x fa-inverse"></i>
            </span>
            Contact Us</a>
    </li>
</ul>